.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
#question{
    background: linear-gradient(40deg,#4caf5014,#ffeb3b17);
    border-radius: 3px;
    border: 3px solid #d5d5d500;
    border-color: #4CAF50;
    color: #000000; 
    height: 17%;
    vertical-align: baseline;
    position: absolute;
    bottom: 2.8%;
    text-align: center;
    left: 0.5%;
    right: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
#textboxid{
    height: 25px;
    font-size:11pt;
    width: 100%;
    border: 2px solid #008CBA;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
#status{
    background: linear-gradient(40deg,#4caf5014,#ffeb3b17);
    border-radius: 3px;
    border: 3px solid #d5d5d500;
    border-color: #4CAF50;
    color: #000000; 
    height: 30px;
    vertical-align: baseline;
    position: absolute;
    bottom: 20.1%;
    text-align: center;
    left: 0.5%;
    width: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
#linhvuc{
    background: linear-gradient(40deg,#4caf5014,#ffeb3b17);
    border-radius: 3px;
    border: 3px solid #d5d5d500;
    border-color: #4CAF50;
    color: #000000; 
    height: 30px;
    vertical-align: baseline;
    position: absolute;
    bottom: 20.1%;
    text-align: center;
    left: 9.61%;
    width: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
#timeQ{
    background: linear-gradient(40deg,#4caf5014,#ffeb3b17);
    border-radius: 3px;
    border: 3px solid #d5d5d500;
    border-color: #4CAF50;
    color: #000000; 
    height: 30px;
    right: 0.5%;
    vertical-align: baseline;
    position: absolute;
    bottom: 20.1%;
    text-align: center;
    width: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
#button{
    z-index:2;
    position: fixed;
    top: 50%;
    left: 50%;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.button {
    border: none;
    height: 31px;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 11pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 125px;
}
.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #f5da42;
}
.button2:hover {
    background-color: #f5da42;
    color: white;
}
body{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-style: initial;
}   
tr, td {
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
}
table{
    width: 60%;
    border-collapse: collapse;
    border: 2px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 15px;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.main1 {
    height: 32px;
    width: 98.5%;
    position: relative;
}
#bottom1 {
    position: absolute;
    bottom: 0.5%;
    left: 0.5%;
    text-align:center;
}
.center {
    text-align: center;
}   